body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #622599;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-scroller {
    position: relative;
    text-align: center;
}

#mainImage {
    max-width: 80%; /* Ajusta el tamaño máximo según tu preferencia */
    max-height: 60vh; /* Ajusta la altura máxima según tu preferencia */
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #622599;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
    transform: translateY(-50%);
}

header img {
    margin-right: 10px; /* Ajusta el margen entre la imagen y el texto según tu preferencia */
}

nav {
    background-color: #ffffff;
    color: #ecf0f1;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

section {
    padding: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #622599;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}