body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    
}

header {
    background-color: #622599;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-scroller {
    position: relative;
    text-align: center;
}

#mainImage {
    margin-top: 50px;
    max-width: 80%; /* Ajusta el tamaño máximo según tu preferencia */
    max-height: 60vh; /* Ajusta la altura máxima según tu preferencia */
    margin-bottom: 75px;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #622599;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
    transform: translateY(-50%);
}

header img {
    margin-right: 10px; /* Ajusta el margen entre la imagen y el texto según tu preferencia */
}

nav {
    background-color: #ffffff;
    color: #ecf0f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

ul li ul {
    position: absolute;
    right: -8rem ;
    background: rgba(0,0,0,0.5);
    width: 8rem;
    top: 0;
    display: none;
    li {
      display: inline;
        a{
        display: block;
        padding: 1em;
        &:hover{
          color: #af54ff;
          transition: color 0.2s;
        }
      }
    }
  }

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
    z-index: 1;
    width: 15cm;
}

nav ul li:hover > ul {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul a {
    display: block;
    padding: 8px 16px;
    margin-bottom: 5px;
    color: #000000;
    text-decoration: none;
}

nav ul ul li {
    float: none;
    width: 200px;
}

nav ul ul a {
    padding: 8px 16px;
    color: #000000;
}

.auth-options {
    display: flex;
}

.auth-options button {
    margin-left: 15px;
    color: #000000;
    background: transparent;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    &:hover{
        color: #af54ff;
        transition: color 0.2s;
      }
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    &:hover{
        color: #af54ff;
        transition: color 0.2s;
      }
}

section {
    padding: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    margin: 20;
    background-color: #622599;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100;
}

#dialogLogin {
    max-width: 400px;
    margin: 20vh auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dialogLogin h2 {
    color: #622599;
}

#dialogLogin label {
    display: block;
    margin-top: 10px;
}

#dialogLogin input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#dialogLogin button {
    background-color: #622599;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#closeDialog {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

#dialogLogin button:hover {
    background-color: #2980b9;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto; /* Centra horizontalmente */
    margin-top: 50px;
    margin-bottom: 75px;
    flex: 1; /* Toma el espacio disponible entre la barra de navegación y el footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido del formulario */
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input, 
.form-group textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    resize: none;
}

.form-group input:focus, 
.form-group textarea:focus {
    border-color: #007BFF;
    background-color: #fff;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}
